{% if error %}
<div>{{ error.messageKey|trans(error.messageData, 'security') }}</div>
{% endif %}

{{ form_start(form) }}

    <div>
        {{ form_label(form._username) }}:
        {{ form_errors(form._username) }}
        {{ form_widget(form._username) }}
    </div>

    <div>
        {{ form_label(form._password) }}:
        {{ form_errors(form._password) }}
        {{ form_widget(form._password) }}
    </div>

    <input type="submit">

    {{ form_widget(form._target_path) }}

{{ form_end(form) }}